<!DOCTYPE html>
<html>
  <head>
    <title>MatchApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
        <div class="alert alert-info"><%= flash[:notice] %></div>
        <p><%= flash[:notice] %></p>
    <% end %>
    <% if flash[:alert] %>
        <div class="alert alert-danger"><%= flash[:alert] %></div>
        <p><%= flash[:alert] %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
